
@{
    ViewData["Title"] = "AddBook";
    List<Categories> categories = ViewBag.Categories as List<Categories>;
}

<h1>AddBook</h1>

<form asp-action="addsubmit" asp-controller="book">
    <div class="row">
        <div class="col-sm-3">
            Book Name:
        </div>
        <div>
            <input type="text" name="bookname" id="bookname" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-3">
            Book Price:
        </div>
        <div>
            <input type="number" name="bookprice" id="bookprice" step="0.01" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            In stock:
        </div>
        <div>
            <input type="checkbox" name="bookinstock" id="bookinstock" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Category:
        </div>
        <div>
            <select name="category" id="category">
                @foreach(var category in categories)
                {
                    <option value="@category.CategoryId">@category.CategoryName</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>